include MANIFEST.in
include setup.py
include Makefile
include README
include BitVector/BitVector.py
include BitVector/__init__.py
include BitVector-3.4.4.html
include TestBitVector/BitVector.py
include TestBitVector/Test.py
include TestBitVector/TestBooleanLogic.py
include TestBitVector/TestComparisonOps.py
include TestBitVector/TestConstructors.py
include TestBitVector/TestCircularShifts.py
include TestBitVector/TestPermutations.py
include TestBitVector/testinput1.txt
include TestBitVector/testinput2.txt
include TestBitVector/testinput3.txt
include TestBitVector/testinput4.txt
include TestBitVector/testinput5.txt
include TestBitVector/testinput6.txt
include TestBitVector/testinput7.txt
include Examples/BitVectorDemo.py
include Examples/README
include Examples/testinput1.txt
include Examples/testinput4.txt
include Examples/testinput5.txt
